altair==4.2.2
attrs==24.2.0
blinker==1.8.2
catboost==1.2.7
certifi==2024.2.2
tushare==1.4.13
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
dash==2.18.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
skorch==0.13.0
fsspec==2024.12.0
graphviz==0.20.3
imbalanced-learn==0.13.0
imblearn==0.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
lightgbm==4.5.0
matplotlib==3.9.2
mplfinance==0.12.10b0
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.2
plotly==5.23.0
psutil==6.1.1
pydantic==2.9.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
shap==0.46.0
six==1.16.0
streamlit==1.41.1
streamlit-aggrid==1.0.5
torch==2.5.1
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
xgboost==2.1.2
